.rectangle652.rectangle652 {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.rectangle65.rectangle65 {
  background-color: #fff;
}
.component11.component11 {
  left: 492px;
  top: 49px;
  width: 218px;
  height: 74px;
}
.hOTRO247 {
  color: #3e2723;
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 31.0345%;
  top: 0;
  bottom: 75.8065%;
  flex-direction: column;
}
.hotline273686868 {
  color: #3e2723;
  font-size: 20px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 65.5172%;
  bottom: 10.2892%;
  flex-direction: column;
}
.congTyTNHHHyperfume {
  color: #3e2723;
  font-size: 20px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 32.2581%;
  bottom: 43.5484%;
  flex-direction: column;
}
.IaChi123UongNamKiKhoiNghiaQuan {
  color: #3e2723;
  font-size: 20px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: -25.8621%;
  flex-direction: column;
}
.component12.component12 {
  left: 805px;
  top: 53px;
}
.image16.image16 {
  background-image:/* webpackIgnore: true */ url('assets/image162.png');
}
.pHUONGTHUCTHANHTOAN {
  color: #3e2723;
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 86.9565%;
  text-align: initial;
  align-items: initial;
  flex-direction: column;
}
.image17.image17.image17 {
  background-image:/* webpackIgnore: true */ url('assets/image173.png');
}
.component13.component13 {
  left: 1128px;
  top: 53px;
}
.fOLOWUS {
  color: #3e2723;
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 26.8293%;
  top: 0;
  bottom: 69.2308%;
  width: min-content;
  height: min-content;
  text-align: initial;
  align-items: initial;
  white-space: nowrap;
  flex-direction: column;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.root {
  position: absolute;
  left: 0;
  right: 0;
  top: 1957px;
  bottom: -163px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 168px;
  padding: 47px 147px;
  background-color: #cbcbcb;
  overflow: hidden;
}
.component10 {
  position: absolute;
  left: 167px;
  top: 53px;
  width: 175px;
  height: 156px;
  flex-direction: column;
  align-items: flex-start;
}
.tHONGTINTHEM {
  color: #3e2723;
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.6369%;
  right: 14.0127%;
  top: 0;
  bottom: 89.726%;
  flex-direction: column;
}
.gioiThieuVeHyperfume {
  color: #3e2723;
  font-size: 20px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.6369%;
  right: 7.0064%;
  top: 17.8082%;
  bottom: 71.9178%;
  flex-direction: column;
}
.blog {
  color: #3e2723;
  font-size: 20px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.6369%;
  right: 7.0064%;
  top: 32.1918%;
  bottom: 57.5342%;
  flex-direction: column;
}
.traGopQuaTheTinDung {
  color: #3e2723;
  font-size: 20px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.6369%;
  right: 7.0064%;
  top: 46.5753%;
  bottom: 43.1507%;
  flex-direction: column;
}
.chinhSachBaoHanhOiTra {
  color: #3e2723;
  font-size: 20px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.6369%;
  right: -11.465%;
  top: 60.9589%;
  bottom: 28.7671%;
  flex-direction: column;
}
.chinhSachThanhToan {
  color: #3e2723;
  font-size: 20px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.6369%;
  right: 0%;
  top: 75.3425%;
  bottom: 14.3836%;
  flex-direction: column;
}
.chinhSachVanChuyen {
  color: #3e2723;
  font-size: 20px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.6369%;
  right: 0%;
  top: 89.726%;
  bottom: 0%;
  flex-direction: column;
}
