.phanAu.phanAu {
  left: 100px;
  top: 211px;
}
.blog {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17.3168%;
  right: 66.6524%;
  top: 0;
  bottom: -8.5714%;
  height: min-content;
  flex-direction: column;
}
.footer.footer {
  left: 50%;
  top: 1797px;
  bottom: -3px;
  width: 1440px;
  transform: translateX(-50%);
}
.image16.image16.image16 {
  background-image:/* webpackIgnore: true */ url('assets/image163.png');
}
.image17.image17.image17.image17 {
  background-image:/* webpackIgnore: true */ url('assets/image174.png');
}
.nav_page.nav_page {
  left: 352px;
  top: 1657px;
  width: 767px;
}
.frame78.frame78 {
  background-color: #d4a373;
}
._1 {
  color: #f1efe7;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.15px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._2 {
  color: #000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.15px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._3 {
  color: #000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.15px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._4 {
  color: #000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.15px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._5 {
  color: #000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.15px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component25.component25 {
  left: 1130px;
  top: 86px;
}
.component26.component26 {
  left: 1240px;
  top: 84px;
}
.findBar.findBar {
  left: 1240px;
  top: 134px;
}
.root {
  position: relative;
  width: 1440px;
  height: 2046px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f5f1eb;
  overflow: hidden;
}
.image1 {
  position: absolute;
  left: 313px;
  top: 631px;
  width: 174px;
  height: 241px;
  border-radius: 15px;
  background-image:/* webpackIgnore: true */ url('assets/image1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image2 {
  position: absolute;
  left: 537px;
  top: 631px;
  width: 174px;
  height: 241px;
  background-image:/* webpackIgnore: true */ url('assets/image2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image {
  position: absolute;
  left: 761px;
  top: 631px;
  width: 174px;
  height: 241px;
  border-radius: 15px;
  background-image:/* webpackIgnore: true */ url('assets/image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image4 {
  position: absolute;
  left: 985px;
  top: 631px;
  width: 159.4586px;
  height: 241px;
  border-radius: 15px;
  background-image:/* webpackIgnore: true */ url('assets/image4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image5 {
  position: absolute;
  left: 313px;
  top: 963px;
  width: 174px;
  height: 240px;
  border-radius: 15px;
  background-image:/* webpackIgnore: true */ url('assets/image5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image6 {
  position: absolute;
  left: 537px;
  top: 963px;
  width: 174px;
  height: 240px;
  border-radius: 15px;
  background-image:/* webpackIgnore: true */ url('assets/image6.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image7 {
  position: absolute;
  left: 761px;
  top: 963px;
  width: 174px;
  height: 241px;
  border-radius: 15px;
  background-image:/* webpackIgnore: true */ url('assets/image7.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image8 {
  position: absolute;
  left: 985px;
  top: 962px;
  width: 161px;
  height: 242px;
  border-radius: 15px;
  background-image:/* webpackIgnore: true */ url('assets/image8.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image9 {
  position: absolute;
  left: 313px;
  top: 1295px;
  width: 174px;
  height: 241px;
  border-radius: 15px;
  background-image:/* webpackIgnore: true */ url('assets/image9.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image10 {
  position: absolute;
  left: 537px;
  top: 1295px;
  width: 174px;
  height: 240px;
  border-radius: 15px;
  background-image:/* webpackIgnore: true */ url('assets/image10.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image11 {
  position: absolute;
  left: 761px;
  top: 1294px;
  width: 174px;
  height: 242px;
  border-radius: 15px;
  background-image:/* webpackIgnore: true */ url('assets/image11.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image12 {
  position: absolute;
  left: 985px;
  top: 1294px;
  width: 161px;
  height: 242px;
  border-radius: 15px;
  background-image:/* webpackIgnore: true */ url('assets/image12.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.montblancLegendBlueEDP25000170 {
  position: absolute;
  left: 524px;
  top: 878px;
  width: 200px;
  height: 59px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock {
  color: #7b1616;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
}
.labelWrapper {
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #3e2723;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.afnan9pmEDP20000110000 {
  position: absolute;
  left: 748px;
  top: 878px;
  width: 200px;
  height: 59px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock3 {
  color: #7b1616;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
}
.labelWrapper2 {
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label2 {
  color: #3e2723;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.pradaLHommeLEauEDT30000215000 {
  position: absolute;
  left: 966px;
  top: 890px;
  width: 198px;
  height: 59px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock5 {
  color: #7b1616;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
}
.labelWrapper3 {
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label3 {
  color: #3e2723;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock7 {
  margin-top: 0;
  color: #3e2723;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.armafClubDeNuitIntenseManLimit {
  position: absolute;
  left: 301px;
  top: 1214px;
  width: 198px;
  height: 66px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock8 {
  color: #7b1616;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
}
.labelWrapper4 {
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label4 {
  color: #3e2723;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.creedGreenIrishTweedEDP6500061 {
  position: absolute;
  left: 524px;
  top: 1202px;
  width: 200px;
  height: 66px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock10 {
  color: #7b1616;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock11 {
  margin-top: 0;
}
.labelWrapper5 {
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label5 {
  color: #3e2723;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rojaElysiumPourHommeParfum9000 {
  position: absolute;
  left: 749px;
  top: 1214px;
  width: 195px;
  height: 66px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock12 {
  color: #7b1616;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock13 {
  margin-top: 0;
}
.labelWrapper6 {
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label6 {
  color: #3e2723;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.dieselFuelForLifeHommeEDP25000 {
  position: absolute;
  left: 966px;
  top: 1204px;
  width: 200px;
  height: 66px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock14 {
  color: #7b1616;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock15 {
  margin-top: 0;
}
.labelWrapper7 {
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label7 {
  color: #3e2723;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rojaApexEDP60000570000 {
  position: absolute;
  left: 300px;
  top: 1539px;
  width: 200px;
  height: 66px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock16 {
  color: #7b1616;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock17 {
  margin-top: 0;
}
.labelWrapper8 {
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label8 {
  color: #3e2723;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.cliveChristianNo1MasculineEDP1 {
  position: absolute;
  left: 521px;
  top: 1553px;
  width: 200px;
  height: 66px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock18 {
  color: #7b1616;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock19 {
  margin-top: 0;
}
.labelWrapper9 {
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label9 {
  color: #3e2723;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.chanelBleuDeChanelEDP430004900 {
  position: absolute;
  left: 745px;
  top: 1541px;
  width: 200px;
  height: 66px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock20 {
  color: #7b1616;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock21 {
  margin-top: 0;
}
.labelWrapper10 {
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label10 {
  color: #3e2723;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.giorgioArmaniAcquaDiGioEDTGioT {
  position: absolute;
  left: 966px;
  top: 1553px;
  width: 200px;
  height: 66px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock22 {
  color: #7b1616;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock23 {
  margin-top: 0;
}
.labelWrapper11 {
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label11 {
  color: #3e2723;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.sapXepTheo {
  color: #3e2723;
  font-size: 32px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 914px;
  top: 554px;
  width: 127px;
  height: 25px;
  justify-content: center;
  flex-direction: column;
}
.rectangle164 {
  position: absolute;
  left: calc(50% - 0.5px);
  top: 368px;
  width: 1165px;
  height: 144px;
  overflow: visible;
  transform: translateX(-50%);
}
.icon {
  width: 100%;
  height: 100%;
}
.nuocHoaNam {
  color: #3e2723;
  font-size: 96px;
  line-height: 100%;
  font-weight: 600;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 0.5px);
  top: 295px;
  width: 431px;
  height: 26px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.diorSauvageEDP40000510000 {
  position: absolute;
  left: 318px;
  top: 874px;
  width: 164px;
  height: 67px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textBlock24 {
  color: #7b1616;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock25 {
  margin-top: 0;
}
.labelWrapper12 {
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label12 {
  color: #3e2723;
  font-size: 20px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle108 {
  position: absolute;
  left: 72.9167%;
  right: 14.6528%;
  top: 26.5396%;
  bottom: 71.261%;
  border-radius: 15px;
  background-color: #d4a373;
}
.banChayNhat {
  color: #fff;
  font-size: 32px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1053px;
  top: 554px;
  width: 146px;
  height: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vector {
  position: absolute;
  left: 94.9306%;
  right: 4.2361%;
  top: 31.1339%;
  bottom: 68.5728%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.vector2 {
  position: absolute;
  left: 22.2917%;
  right: 76.875%;
  top: 22.7273%;
  bottom: 76.9795%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.timTheoGiaVN {
  color: #000;
  font-size: 32px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 198px;
  top: 399px;
  width: 190px;
  height: 25px;
  justify-content: center;
  flex-direction: column;
}
.unnamed {
  color: #000;
  font-size: 32px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 405px;
  top: 380px;
  width: 18px;
  height: 25px;
  justify-content: center;
  flex-direction: column;
}
._2Tr {
  color: #000;
  font-size: 32px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 507px;
  top: 378px;
  width: 37px;
  height: 25px;
  justify-content: center;
  flex-direction: column;
}
._4Tr {
  color: #000;
  font-size: 32px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 618px;
  top: 378px;
  width: 37px;
  height: 25px;
  justify-content: center;
  flex-direction: column;
}
._6Tr {
  color: #000;
  font-size: 32px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 729px;
  top: 378px;
  width: 37px;
  height: 25px;
  justify-content: center;
  flex-direction: column;
}
._8Tr {
  color: #000;
  font-size: 32px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 838px;
  top: 378px;
  width: 37px;
  height: 25px;
  justify-content: center;
  flex-direction: column;
}
._10Tr {
  color: #000;
  font-size: 32px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 944px;
  top: 378px;
  width: 46px;
  height: 25px;
  justify-content: center;
  flex-direction: column;
}
._12Tr {
  color: #000;
  font-size: 32px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1051px;
  top: 378px;
  width: 46px;
  height: 25px;
  justify-content: center;
  flex-direction: column;
}
._14Tr {
  color: #000;
  font-size: 32px;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1154px;
  top: 378px;
  width: 63px;
  height: 25px;
  justify-content: center;
  flex-direction: column;
}
.line41 {
  position: absolute;
  left: 410px;
  top: 414px;
  width: 776px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.rectangle159 {
  position: absolute;
  left: 632px;
  top: 407px;
  width: 4px;
  height: 14px;
  background-color: #fff;
}
.rectangle160 {
  position: absolute;
  left: 742px;
  top: 407px;
  width: 4px;
  height: 14px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.rectangle161 {
  position: absolute;
  left: 852px;
  top: 407px;
  width: 4px;
  height: 14px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.rectangle162 {
  position: absolute;
  left: 962px;
  top: 407px;
  width: 4px;
  height: 14px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.rectangle163 {
  position: absolute;
  left: 1072px;
  top: 407px;
  width: 4px;
  height: 14px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.rectangle165 {
  position: absolute;
  left: 1182px;
  top: 407px;
  width: 4px;
  height: 14px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.rectangle167 {
  position: absolute;
  left: 412px;
  top: 411px;
  width: 110px;
  height: 6px;
  background-color: #e7ae77;
}
.rectangle168 {
  position: absolute;
  left: 14.7222%;
  right: 73.6806%;
  top: 21.8964%;
  bottom: 75.9042%;
  border-radius: 15px;
  background-color: #d4a373;
}
.rectangle169 {
  position: absolute;
  left: 13.9583%;
  right: 72.6389%;
  top: 21.8964%;
  bottom: 75.9042%;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.ellipse39 {
  position: absolute;
  left: 519px;
  top: 409px;
  width: 10px;
  height: 10px;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.OLuuHuong {
  color: #3e2723;
  font-size: 32px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 211px;
  top: 459px;
  width: 130px;
  height: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vector3 {
  position: absolute;
  left: 25.2778%;
  right: 73.8889%;
  top: 22.9717%;
  bottom: 76.7351%;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.line42 {
  position: relative;
  left: 349px;
  top: 454px;
  width: 1px;
  max-width: 100%;
  height: 30px;
  max-height: 100%;
}
.line42::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
  width: 30px;
  height: 0;
  border-bottom: solid 1px #3e2723;
}
.vector4 {
  position: absolute;
  left: 40.2778%;
  right: 58.8889%;
  top: 22.7761%;
  bottom: 76.9306%;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.rectangle170 {
  position: absolute;
  left: 32.7083%;
  right: 55.6944%;
  top: 21.9453%;
  bottom: 75.8553%;
  border-radius: 15px;
  background-color: #d4a373;
}
.rectangle171 {
  position: absolute;
  left: 31.5278%;
  right: 55.6944%;
  top: 21.9453%;
  bottom: 75.8553%;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.ellipse38 {
  position: absolute;
  left: 406px;
  top: 409px;
  width: 11px;
  height: 10px;
  overflow: visible;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.thuongHieu {
  color: #3e2723;
  font-size: 32px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 454px;
  top: 459px;
  width: 138px;
  height: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vector5 {
  position: absolute;
  left: 42.0833%;
  right: 57.0833%;
  top: 23.0205%;
  bottom: 76.6862%;
  overflow: visible;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.line43 {
  position: relative;
  left: 592px;
  top: 457px;
  width: 1px;
  max-width: 100%;
  height: 30px;
  max-height: 100%;
}
.line43::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
  width: 30px;
  height: 0;
  border-bottom: solid 1px #3e2723;
}
.vector6 {
  position: absolute;
  left: 57.0833%;
  right: 42.0833%;
  top: 22.7273%;
  bottom: 76.9795%;
  overflow: visible;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.rectangle172 {
  position: absolute;
  left: 49.5139%;
  right: 38.8889%;
  top: 21.8964%;
  bottom: 75.9042%;
  border-radius: 15px;
  background-color: #d4a373;
}
.rectangle173 {
  position: absolute;
  left: 48.3333%;
  right: 38.8889%;
  top: 21.8964%;
  bottom: 75.9042%;
  overflow: visible;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.nongO {
  color: #3e2723;
  font-size: 32px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 696px;
  top: 458px;
  width: 138px;
  height: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vector7 {
  position: absolute;
  left: 58.8889%;
  right: 40.2778%;
  top: 22.9717%;
  bottom: 76.7351%;
  overflow: visible;
}
.icon19 {
  width: 100%;
  height: 100%;
}
.line44 {
  position: relative;
  left: 834px;
  top: 456px;
  width: 1px;
  max-width: 100%;
  height: 30px;
  max-height: 100%;
}
.line44::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
  width: 30px;
  height: 0;
  border-bottom: solid 1px #3e2723;
}
.rectangle176 {
  position: absolute;
  left: 82.0833%;
  right: 10.3472%;
  top: 21.8964%;
  bottom: 75.9042%;
  border-radius: 15px;
  background-color: #d4a373;
}
.tim {
  color: #fff;
  font-size: 32px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1168px;
  top: 458px;
  width: 138px;
  height: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle177 {
  position: absolute;
  left: 16.4583%;
  right: 75.9722%;
  top: 26.5885%;
  bottom: 71.2121%;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 15px;
  background-color: #d4a373;
}
.nam {
  color: #fff;
  font-size: 32px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 211px;
  top: 554px;
  width: 138px;
  height: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vector8 {
  position: absolute;
  left: 73.6806%;
  right: 25.4861%;
  top: 22.7273%;
  bottom: 76.9795%;
  overflow: visible;
}
.icon20 {
  width: 100%;
  height: 100%;
}
.rectangle174 {
  position: absolute;
  left: 66.1111%;
  right: 22.2917%;
  top: 21.8964%;
  bottom: 75.9042%;
  border-radius: 15px;
  background-color: #d4a373;
}
.rectangle175 {
  position: absolute;
  left: 64.9306%;
  right: 22.2917%;
  top: 21.8964%;
  bottom: 75.9042%;
  overflow: visible;
}
.icon21 {
  width: 100%;
  height: 100%;
}
.nhomHuong {
  color: #3e2723;
  font-size: 32px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 935px;
  top: 458px;
  width: 138px;
  height: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vector9 {
  position: absolute;
  left: 75.4861%;
  right: 23.6806%;
  top: 22.9717%;
  bottom: 76.7351%;
  overflow: visible;
}
.icon22 {
  width: 100%;
  height: 100%;
}
.vector10 {
  position: absolute;
  left: 83.6111%;
  right: 15.5556%;
  top: 27.6637%;
  bottom: 72.043%;
  overflow: visible;
}
.icon23 {
  width: 100%;
  height: 100%;
}
.line45 {
  position: relative;
  left: 1073px;
  top: 456px;
  width: 1px;
  max-width: 100%;
  height: 30px;
  max-height: 100%;
}
.line45::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
  width: 30px;
  height: 0;
  border-bottom: solid 1px #3e2723;
}
.vector11 {
  position: absolute;
  left: 22.0139%;
  right: 77.1528%;
  top: 27.4682%;
  bottom: 71.9453%;
  overflow: visible;
}
.icon24 {
  width: 100%;
  height: 100%;
}
.vector12 {
  position: absolute;
  left: 22.0139%;
  right: 77.1528%;
  top: 27.4682%;
  bottom: 71.9453%;
  overflow: visible;
}
.icon25 {
  width: 100%;
  height: 100%;
}
.rectangle178 {
  position: absolute;
  left: 26.25%;
  right: 60.9028%;
  top: 26.5885%;
  bottom: 71.2121%;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 15px;
  background-color: #d4a373;
}
.xoaBoLoc {
  color: #fff;
  font-size: 32px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 388px;
  top: 554px;
  width: 138px;
  height: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vector13 {
  position: absolute;
  left: 36.5278%;
  right: 62.6389%;
  top: 27.4194%;
  bottom: 71.9941%;
  overflow: visible;
}
.icon26 {
  width: 100%;
  height: 100%;
}
.vector14 {
  position: absolute;
  left: 36.5278%;
  right: 62.6389%;
  top: 27.4194%;
  bottom: 71.9941%;
  overflow: visible;
}
.icon27 {
  width: 100%;
  height: 100%;
}
.pageHeader {
  position: absolute;
  left: 50%;
  top: -28px;
  width: 1440px;
  height: 239px;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(-50%);
}
.rectangle142 {
  position: absolute;
  left: 0;
  top: 28px;
  width: 1440px;
  height: 168px;
  background-color: #fbfafa;
}
.rectangle143 {
  position: absolute;
  left: 0;
  top: 196px;
  width: 1440px;
  height: 39px;
  overflow: visible;
}
.icon28 {
  width: 100%;
  height: 100%;
}
.rectangle144 {
  position: absolute;
  left: 230px;
  top: 201px;
  width: 125px;
  height: 28px;
  overflow: visible;
}
.icon29 {
  width: 100%;
  height: 100%;
}
.ANGNHAP {
  color: #3e2723;
  font-size: 24px;
  line-height: 100%;
  font-family: Alumni Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1112px;
  top: 138px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.huongThomAnhThucKyUcInhHinhLua {
  color: #000;
  font-size: 45px;
  font-family: Alex Brush, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 33.5px);
  top: 37px;
  width: 805px;
  height: 127px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.frame2608698 {
  position: absolute;
  left: calc(50% - -0.5px);
  top: 196px;
  width: 1327px;
  height: 39px;
  flex-direction: column;
  justify-content: center;
  padding: 19px 7px;
  border-radius: 5px;
  transform: translateX(-50%);
}
.black_and_White_Aesthetic_Flow {
  position: absolute;
  left: 5px;
  top: 6px;
  width: 230px;
  height: 233px;
  background-image:/* webpackIgnore: true */ url('assets/black_and_White_Aesthetic_Flow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
