.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 1024px;
  height: min-content;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.frame2608602 {
  width: min-content;
  height: min-content;
}
.frame78 {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #785b5b;
  overflow: hidden;
}
._1 {
  color: #f1efe7;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.15px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame85 {
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
._2 {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.15px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame86 {
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
._3 {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.15px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame87 {
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
._4 {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.15px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame88 {
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
._5 {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.15px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame89 {
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
.unnamed {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.15px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
